body{
    padding-top: 50px!important;
    min-height: 600px;
}
.text {
    text-align: center;
    font-size: 20px;
    height: 100px;
    color: #FFFFFF;
    line-height: 100px;
}
.addtea{
    height: 50px;
    line-height: 50px;
}
.text:hover {
    font-size: 25px;
    cursor: pointer;
    transition: all 0.1s linear;
    color: #f2f2f2;
}

.aaa {
    border-radius: 0px 5px 5px 0px;
    border-left: 5px solid #FFB800;
}

#tIME {
    text-align: left;
}

#test2 {
    float: right;
}

.titlet {
    display: block;
    margin-left: 20px;
    height: 25px;
    width: 100%;
    line-height: 25px;
}
/*首页快速功能模块盒子*/
.layui-col-md3{
    padding: 16.5px 7.5px!important;
}
.box{
    margin: 0 10%;
    height: 240px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px #d2d2d2;
    background-color: #eeeeee;
    transition: background-color 0.5s ease;
}
.box:hover{
    background-color: #8abeb2;
    cursor: pointer;
    color: white;
}
/*图标盒子*/
.icon-box{
    height: 150px;
}
.iconp{
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.text-box{
    height: 100px;
}
.text-t{
    font-family: 仿宋;
    height: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.layui-layer-content{
    height: 300px!important;
}