body {
    min-height: 600px;
    padding-top: 60px!important;
}
body p {
    margin: 0px;
}
body .demo-class .layui-layer-content {
    overflow: visible;
}

body .layui-table th{
    text-align: center;
    font-weight: 400;
}
body .layui-table td{
    text-align: center;
    font-weight: 400;
}

.layui-form-label {
    width: 110px;
    text-align: center;
}

.leaveTop {
    margin-top: 19px;
}
.addtea {
    height: 50px;
    line-height: 50px;
}

.moveleft {
    margin-top: 4px;
    margin-left: 10px!important;
}
.onmove{
    margin-left: 0px!important;
}
.Toleftbutton{
    margin-left: 15px!important;
}