/** layui-v2.4.5 MIT License By https://www.layui.com */

body{
    min-height: 600px;
    padding-top: 50px!important;
}
p{
    margin: 0px;
}
.forms{
    padding-top: 20px;
    padding-bottom: 20px;
}
.addtea{
    height: 50px;
    line-height: 50px;
}
.layui-form-label{
    width: 110px;
    text-align: left;
}
.backToLeft{
    margin-left: 0px;
}
.pull-right{
    margin-top: 2px;
}
