<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sims.springbootsims.mapper.SelectMapper">
    <select id="queryTeacherList" resultType="com.sims.springbootsims.entity.TeacherBean">
        select * from Teacher
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryStudentOnlyList" resultType="com.sims.springbootsims.entity.StudentBean">
        select * from Student
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryStudentList" resultType="com.sims.springbootsims.entity.StudentBean">
        select st.id,st.code,st.name,st.age,st.sex,st.qq,st.phone,st.address,st.classId,cl.className,gr.gradeName,tea.name teacherName from Class cl
        inner join Student st on st.classId = cl.id
        inner join TeacherClass tc on tc.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Teacher tea on tc.tId = tea.id
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryGradeList" resultType="com.sims.springbootsims.entity.GradeBean">
        select * from Grade
        <where>
            <if test="gradeId != 0">
                and id = #{gradeId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryClassList" resultType="com.sims.springbootsims.entity.ClassBean">
        select * from Class
        <where>
            <if test="code != null and code != ''">
                and classCode like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and className like "%"#{name}"%"
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="querySubjectList" resultType="com.sims.springbootsims.entity.SubjectBean">
        select su.id,su.subjectCode,su.subjectName,su.createMessage,su.createTime,su.gradeId,gr.gradeName from Subject su
        inner join Grade gr on su.gradeId=gr.id
        <where>
            <if test="code != null and code != ''">
                and subjectCode like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and subjectName like "%"#{name}"%"
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryTeacherClassOnlyList" resultType="com.sims.springbootsims.entity.TeacherClassBean">
        select *
        from TeacherClass
    </select>
    <select id="querySubject" resultType="com.sims.springbootsims.entity.SubjectBean">
        select *
        from Subject
    </select>
    <select id="queryTeacherClassList" resultType="com.sims.springbootsims.entity.TeacherClassBean">
        select tec.id,su.subjectCode,su.subjectName,gr.gradeName,cl.className,te.code,te.name from TeacherClass tec
        left join Subject su on tec.subId = su.id
        inner join Teacher te on tec.tId = te.id
        inner join Class cl on tec.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryTeacherClassCount" resultType="Integer">
        select count(*) as count from TeacherClass tec
        left join Subject su on tec.subId = su.id
        inner join Teacher te on tec.tId = te.id
        inner join Class cl on tec.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
    </select>
    <select id="queryResultList" resultType="com.sims.springbootsims.entity.ResultBean">
        select re.id,re.subId,re.sId,re.time,re.result,gr.gradeName,cl.className,st.code,st.name,su.subjectName from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId = su.id
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryResultCount" resultType="Integer">
        select count(*) as count from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId=su.id
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
    </select>
    <select id="queryAddResultList" resultType="com.sims.springbootsims.entity.StudentBean">
        select st.id,su.id subId,gr.gradeName,cl.className,st.code,st.name,su.subjectName from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryAddResultCount" resultType="Integer">
        select count(*) as count from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
    </select>
    <select id="queryAttendanceList" resultType="com.sims.springbootsims.entity.AttendanceBean">
        select at.id,st.code,st.name,gr.gradeName,cl.className,su.subjectName,att.AttendanceType type,at.AttendanceTime time from
        Attendance at
        inner join Student st on at.sId = st.id
        inner join Subject su on at.subId = su.id
        inner join Class cl on at.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join AttendanceType att on at.AttendanceType = att.id
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryAttendanceCount" resultType="Integer">
        select count(*) as count from Attendance at
        inner join Student st on at.sId = st.id
        inner join Subject su on at.subId = su.id
        inner join Class cl on at.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join AttendanceType att on at.AttendanceType = att.id
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
    </select>
    <select id="queryAddAttendanceList" resultType="com.sims.springbootsims.entity.StudentBean">
        select st.id,su.id subId,gr.gradeName,cl.id classId,cl.className,st.code,st.name,su.subjectName from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryAddAttendanceCount" resultType="Integer">
        select count(*) as count from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
    </select>
    <select id="queryHabit" resultType="com.sims.springbootsims.entity.HabitBean">
        select * from Habit where code = #{code}
    </select>
    <select id="queryPwd" parameterType="String" resultType="com.sims.springbootsims.entity.LoginBean">
        select * from Login
        <where>
            code = #{code}
        </where>
    </select>
    <select id="queryCount" resultType="Integer">
        select count(*) as count from ${tableName}
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
        </where>
    </select>
</mapper>