<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sims.springbootsims.mapper.SelectMapper">
    <select id="queryTeacherList" resultType="com.sims.springbootsims.entity.TeacherBean">
        select * from Teacher
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and mid  = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>

    <select id="queryCollegeList" resultType="com.sims.springbootsims.entity.CollegeBean">
        select * from college
        <where>
            <if test="name != null and name != ''">
                and cname like "%"#{name}"%"
            </if>
            <if test="code != null and code != ''">
                and cid = #{code}
            </if>
        </where>
        order by cid desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>

    <select id="queryAllCollegeList" resultType="com.sims.springbootsims.entity.CollegeBean">
        select * from college
        where cstatus = '1'
        order by cid desc
    </select>

    <select id="queryAllMajorList" resultType="com.sims.springbootsims.entity.MajorBean">
        select * from major
        where mstatus = '1'
        order by mid desc
    </select>

    <select id="queryMajorList" resultType="com.sims.springbootsims.entity.MajorBean">
        select m.*,c.cname from major m left join college c on m.cid = c.cid
        <where>
            <if test="name != null and name != ''">
                and mname like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and m.cid = #{collegeId}
            </if>
            <if test="code != null and code != ''">
                and m.mid = #{code}
            </if>
        </where>
        order by mid desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryStudentOnlyList" resultType="com.sims.springbootsims.entity.StudentBean">
        select * from Student
        <where>
            <if test="code != null and code != ''">
                and code like "%" #{code} "%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and cid = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and mid = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryStudentOnlyList9" resultType="java.lang.String">
        select code from Student
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and cid = #{collegeId}
            </if>
            <if test="code != null and code != ''">
                and mid = #{code}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryStudentList" resultType="com.sims.springbootsims.entity.StudentBean">
        select st.id,st.code,st.name,st.age,st.sex,st.qq,st.phone,st.address,st.classId,cl.className,gr.gradeName,tea.name teacherName from Class cl
        inner join Student st on st.classId = cl.id
        inner join TeacherClass tc on tc.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Teacher tea on tc.tId = tea.id
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and st.cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and st.mid  = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryGradeList" resultType="com.sims.springbootsims.entity.GradeBean">
        select * from Grade
        <where>
            <if test="gradeId != 0">
                and id = #{gradeId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                and cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and mid  = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryClassList" resultType="com.sims.springbootsims.entity.ClassBean">
        select * from Class
        <where>
            <if test="code != null and code != ''">
                and classCode like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and className like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and mid  = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="querySubjectList" resultType="com.sims.springbootsims.entity.SubjectBean">
        select su.id,su.subjectCode,su.subjectName,su.createMessage,su.createTime,su.gradeId,gr.gradeName from Subject su
        inner join Grade gr on su.gradeId = gr.id
        <where>
            <if test="code != null and code != ''">
                and subjectCode like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and subjectName like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and su.cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and su.mid  = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryTeacherClassOnlyList" resultType="com.sims.springbootsims.entity.TeacherClassBean">
        select *
        from TeacherClass
    </select>
    <select id="querySubject" resultType="com.sims.springbootsims.entity.SubjectBean">
        select *
        from Subject
    </select>
    <select id="queryTeacherClassList" resultType="com.sims.springbootsims.entity.TeacherClassBean">
        select tec.id,su.subjectCode,su.subjectName,gr.gradeName,cl.className,te.code teacherCode,te.name teacherName from TeacherClass tec
        left join Subject su on tec.subId = su.id
        inner join Teacher te on tec.tId = te.id
        inner join Class cl on tec.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                and su.cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and su.mid  = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryTeacherClassCount" resultType="Integer">
        select count(*) as count from TeacherClass tec
        left join Subject su on tec.subId = su.id
        inner join Teacher te on tec.tId = te.id
        inner join Class cl on tec.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                and su.cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and su.mid  = #{majorId}
            </if>
        </where>
    </select>
    <select id="queryResultList" resultType="com.sims.springbootsims.entity.ResultBean">
        select re.id,re.subId,re.sId,re.time,re.result,gr.gradeName,cl.className,st.code,st.name,su.subjectName,re.actualResult,t.name tid from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId = su.id
        left join Teacher t on re.tid = t.code
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId !=''">
                and st.cid = #{collegeId}
            </if>
            <if test="majorId != null and majorId !=''">
                and st.mid = #{majorId}
            </if>
        </where>
        <choose>
            <when test="desc!=null and desc !=''">
                order by result desc
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryResultListCheck" resultType="com.sims.springbootsims.entity.ResultBean">
        select re.id,re.subId,re.sId,re.time,re.result,gr.gradeName,cl.className,st.code,st.name,su.subjectName,re.actualResult,t.id tid,t.name tName from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId = su.id
        left join Teacher t on re.tid = t.code
        <where>
            re.status = '1'
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                and st.cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and st.mid  = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryResultListEcharts" resultType="com.sims.springbootsims.entity.ResultBean">
        select re.result,st.name from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by re.result desc
        limit 1,7
    </select>
    <select id="queryResultCount" resultType="Integer">
        select count(*) as count from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId=su.id
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId !=''">
                and st.cid = #{collegeId}
            </if>
            <if test="majorId != null and majorId !=''">
                and st.mid = #{majorId}
            </if>
        </where>
    </select>

    <select id="queryResultCount1" resultType="Integer">
        select count(*) as count from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId=su.id
        <where>
            re.status = '1'
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId !=''">
                and st.cid = #{collegeId}
            </if>
            <if test="majorId != null and majorId !=''">
                and st.mid = #{majorId}
            </if>
        </where>
    </select>
    <select id="queryResultCountEcharts" resultType="Integer">
        select count(*) as count from Result re
        inner join Student st on re.sid = st.id
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join Subject su on re.subId=su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="pass == 1">
                and result >=60 and result &lt; 80
            </if>
            <if test="pass == 2">
                and result >=80
            </if>
            <if test="pass == 0">
                and result &lt; 60
            </if>
            <if test="collegeId != null and collegeId !=''">
                and st.cid = #{collegeId}
            </if>
            <if test="majorId != null and majorId !=''">
                and st.mid = #{majorId}
            </if>
        </where>
    </select>
    <select id="queryAddResultList" resultType="com.sims.springbootsims.entity.StudentBean">
        select st.id,su.id subId,gr.gradeName,cl.className,st.code,st.name,su.subjectName from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId !=''">
                and st.cid = #{collegeId}
            </if>
            <if test="majorId != null and majorId !=''">
                and st.mid = #{majorId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryAddResultCount" resultType="Integer">
        select count(*) as count from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
            <if test="collegeId != null and collegeId !=''">
                and st.cid = #{collegeId}
            </if>
            <if test="majorId != null and majorId !=''">
                and st.mid = #{majorId}
            </if>
        </where>
    </select>
    <select id="queryAttendanceList" resultType="com.sims.springbootsims.entity.AttendanceBean">
        select at.id,st.code,st.name,gr.gradeName,cl.className,su.subjectName,att.AttendanceType type,at.AttendanceTime time from
        Attendance at
        inner join Student st on at.sId = st.id
        inner join Subject su on at.subId = su.id
        inner join Class cl on at.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join AttendanceType att on at.AttendanceType = att.id
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryAttendanceCount" resultType="Integer">
        select count(*) as count from Attendance at
        inner join Student st on at.sId = st.id
        inner join Subject su on at.subId = su.id
        inner join Class cl on at.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join AttendanceType att on at.AttendanceType = att.id
        <where>
            <if test="code != null and code != ''">
                and st.code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and st.name like "%"#{name}"%"
            </if>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
    </select>
    <select id="queryAddAttendanceList" resultType="com.sims.springbootsims.entity.StudentBean">
        select st.id,su.id subId,gr.gradeName,cl.id classId,cl.className,st.code,st.name,su.subjectName from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
        order by id desc
        <if test="currentPage != 0">
            limit ${(currentPage - 1) * 10} , 10
        </if>
    </select>
    <select id="queryAddAttendanceCount" resultType="Integer">
        select count(*) as count from Student st
        inner join Class cl on st.classId = cl.id
        inner join Grade gr on cl.gradeId = gr.id
        inner join TeacherClass tec on tec.classId = cl.id
        inner join Subject su on tec.subId = su.id
        <where>
            <if test="gradeId != 0">
                and gr.id = #{gradeId}
            </if>
            <if test="classId != 0">
                and cl.id = #{classId}
            </if>
            <if test="subjectId != 0">
                and su.id = #{subjectId}
            </if>
        </where>
    </select>
    <select id="queryHabit" resultType="com.sims.springbootsims.entity.HabitBean">
        select * from Habit where code = #{code}
    </select>
    <select id="queryPwd" parameterType="String" resultType="com.sims.springbootsims.entity.LoginBean">
        select * from Login
        <where>
            code = #{code}
        </where>
    </select>
    <select id="queryCount" resultType="Integer">
        select count(*) as count from ${tableName}
        <where>
            <if test="code != null and code != ''">
                and code like "%"#{code}"%"
            </if>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
            <if test="collegeId != null and collegeId != ''">
                and cid  = #{collegeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and mid  = #{majorId}
            </if>
        </where>
    </select>

    <select id="queryCollegeCount" resultType="Integer">
        select count(*) as count from ${tableName}
        <where>
            <if test="name != null and name != ''">
                and cname like "%"#{name}"%"
            </if>
        </where>
    </select>

    <select id="queryMajorCount" resultType="Integer">
        select count(*) as count from ${tableName}
        <where>
            <if test="name != null and name != ''">
                and mname like "%"#{name}"%"
            </if>
        </where>
    </select>
</mapper>