<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sims.springbootsims.mapper.UpdateMapper">
    <update id="updateTeacher" parameterType="com.sims.springbootsims.entity.TeacherBean">
        update Teacher
        set code         = #{code},
            name         = #{name},
            sex          = #{sex},
            age          = #{age},
            education    = #{education},
            goodAt       = #{goodAt},
            phone        = #{phone},
            qq           = #{qq},
            email        = #{email},
            address      = #{address},
            introduction = #{introduction},
            cid          = #{cid},
            mid          = #{mid}
        where code = #{code}
    </update>
    <update id="updateStudent" parameterType="com.sims.springbootsims.entity.StudentBean">
        update Student
        set code    = #{code},
            name    = #{name},
            age     = #{age},
            sex     = #{sex},
            qq      = #{qq},
            phone   = #{phone},
            address = #{address},
            cid     = #{cid},
            mid     = #{mid}
        where code = #{code}
    </update>
    <update id="updateClassId">
        update Student
        set classId = #{classId}
        where code = #{code}
    </update>
    <update id="updateGradeId">
        update Class
        set gradeId = #{gradeId}
        where classCode = #{classCode}
    </update>
    <update id="updateSubjectId">
        update Subject
        set gradeId = #{gradeId}
        where subjectCode = #{subjectCode}
    </update>
    <update id="updateAttendanceType">
        update Attendance
        set AttendanceType = #{attendanceType}
        where id = #{id}
    </update>
    <update id="updateClass" parameterType="com.sims.springbootsims.entity.ClassBean">
        update Class
        set classCode = #{classCode},
            className = #{className},
            cid       = #{cid},
            mid       = #{mid}
        where classCode = #{classCode}
    </update>
    <update id="updateSubject" parameterType="com.sims.springbootsims.entity.SubjectBean">
        update Subject
        set subjectCode = #{subjectCode},
            subjectName = #{subjectName}
        where subjectCode = #{subjectCode}
    </update>

    <update id="updateCollege" parameterType="com.sims.springbootsims.entity.CollegeBean">
        update College
        set cname = #{cname},
            cstatus = #{cstatus},
            cremark = #{cremark}
        where cid = #{cid}
    </update>

    <update id="updateMajor" parameterType="com.sims.springbootsims.entity.MajorBean">
        update Major
        set mname = #{mname},
            mstatus = #{mstatus},
            mremark = #{mremark},
            cid = #{cid},
            mid = #{mid}
        where mid = #{mid}
    </update>

    <update id="updateResult" parameterType="com.sims.springbootsims.entity.ResultBean">
        update Result
        <set>
            <if test="tid !=null and tid !=''">
                tid = #{tid,jdbcType=VARCHAR},
            </if>
            <if test="actualResult !=null and actualResult !=''">
                actualResult = #{actualResult,jdbcType=DECIMAL},
            </if>
            <if test="status !=null and status !=''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="result !=null and result !=''">
                result = #{result,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=DECIMAL}
    </update>
</mapper>